@import "./generals";

header{
    background-color: #000000;
    .nav{
        align-items: center;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin-bottom: 214px;
        ul{
            display: flex;
            width: 715px;
            justify-content: space-between;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 26px;
                    color: #FFFFFF;
                    transition: 0.5;
                    &:hover{
                        color: yellow;
                    }
                }
            }
        }
        div{
            align-items: center;
            display: flex;
            gap: 40px;
            button{
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #FFFFFF;
                padding: 16px 31px;
                border: 1px solid #FFFFFF;
                background: #57B8FF;
                transition: 0.5s;
                &:hover{
                    background-color: #FFFFFF;
                    color: black;
                }
            }
        }
    }
    .hero{
        display: flex;
        gap: 4px;
        padding-bottom: 250px;
        .hero-item{
            div{
                display: flex;
                gap: 6px;
                a{
                    text-decoration: none;
                    color: #57B8FF;
                }
            }
            h1{
                height: 258px;
                font-weight: 400;
                font-size: 72px;
                line-height: 86px;
                text-transform: capitalize;
                color: #FFFFFF;
                margin-bottom: 40px;
            }
            p{
                width: 615px;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #999999;
                margin-bottom: 74px;
            }
            button{
                padding: 21px 34px;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                color: #FFFFFF;
                background: #57B8FF;
                transition: 0.5s;
                &:hover{
                    background-color: white;
                    color: #000000;
                }
            }
            .a-href{
                padding: 21px 34px;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
                text-transform: capitalize;
                text-decoration: none;
                color: #FFFFFF; 
                transition: 0.5s;
                &:hover{
                    background-color: white;
                    color: #000000;
                }
            }
                
        }
            
            
    }
}

