*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 0.9375rem;
    margin: 0 auto;
    max-width: 85.625rem;
}
body{
    font-family: 'Poppins', sans-serif;
}
.header-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.5rem;
    margin-bottom: 3.1875rem;
}
.ul-header{
    display: flex;
    gap: 2.3125rem;
    list-style: none;
}
.ul-header a{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #263238;
    text-decoration: none;
    transition: 0.5s;
}
.ul-header a:hover{
    opacity: 0.6;
}
.ul-header a:active{
    opacity: 1;
}
.header-href{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #000000;
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    padding: 1.0625rem 3.5625rem;
    text-decoration: none;
    border: 0.125rem solid #263238;
    border-radius: 0.3125rem;  
    transition: 0.5s;  
}
.header-href:hover{
    background: #263238;
    border: 0.125rem solid #000000;
    border-radius: 0.3125rem;
    color: white;
}
.hero{
    width: 100%;
    display: flex;
    gap: 13.75rem;
    position: relative;
    display: flex;
    margin-bottom: 6.4375rem;
}
.hero-card h1{
    width: 24.125rem;
    font-weight: 600;
    font-size: 4rem;
    line-height: 5rem;
    color: #000000; 
    margin-top: 3.125rem;
   
}
.hero-card img{
    position: absolute;
    left: 24.75rem;
    top: 10rem;
    
}
.hero-card p{
    width: 28.75rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #8F95A5;
    margin-top: 2.5rem;
    margin-bottom: 5.8125rem;
}
.hero-card a{
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 3.375rem;
    color: #FFFFFF;
    padding: 2.3125rem 7.3125rem;
    background: #263238;
    border-radius: 0.9375rem;
    text-decoration: none;
    transition: 0.5s;
}
.hero-card a:hover{
    background: #FFFFFF;
    border: 0.0625rem solid #000000;
    box-shadow: 0rem 0.025rem 0.025rem rgba(0, 0, 0, 0.25);
    border-radius: 0.9375rem;
    color: #000000;

}
.skill{
    width: 100%;
}
.skill-h2{
    width: 7.75rem;
    font-weight: 600;
    font-size: 3rem;
    line-height: 5rem;
    color: #000000;
    margin: auto;  
    margin-bottom: 6.25rem;       
}
.ul-skill{
    display: flex;
    gap: 1.125rem;
    margin-bottom: 15.625rem;
}
.ul-speak{
    width: 27.182rem;
    background: #F5F5F5;
    border-radius: 0.625rem;
    padding: 2.1875rem 1.375rem 6.75rem 1.4375rem;
    list-style: none;
}
.ul-speak h3{
  margin-left: 1.25rem;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 5rem;
  color: #263238;
  margin-top: 0.25rem;
  margin-bottom: 0.3125;  
}
.ul-speak p{
    margin-left: 1.25rem;
    width: 17.8125rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #8F95A5;
    margin-bottom: 3.3125rem;
}
.ul-speak a{
    margin-left: 1.25rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #FFFFFF;
    padding: 1.0625rem 3.9375rem 1rem 4rem;
    background: #263238;
    border-radius: 0.3125rem;
    text-decoration: none;
    transition: 0.5s;
}
.ul-speak a:hover{
    background-color: white;
    color: #000000;
}
.ul-div-cards{
    display: flex;
    gap: 1.125rem;
}
.ul-writing{
    padding: 0rem 1.1875rem 3.4375rem 2.5625rem;
    width: 27.125rem;
    background: #F5F5F5;
    border-radius: 0.625rem;
    list-style: none;
    margin-bottom: 1.125rem;;
}
.ul-writing h3{
    margin-left: 1.25rem;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 5rem;
    color: #263238;
    transform: translateY(-2.3125rem);
}
.ul-writing img{
    margin-left: 5.0625rem;
}
.ul-writing p{
    width: 18.125rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #8F95A5;
    margin-bottom: 0.8125rem;
    transform: translateY(-2.0625rem);
}
.ul-writing a{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #FFFFFF;
    padding: 0.9375rem 3.25rem;
    background: #263238;
    border-radius: 0.3125rem;
    text-decoration: none;
    transition: 0.5s;     
}
.ul-writing a:hover{
    background-color: white;
    color: #000000;
}
.ul-reading{
    list-style: none;
    width: 27.1875rem;
    background: #F5F5F5;
    border-radius: 0.625rem;
    padding: 0.5625rem 0rem 3.6875rem 0.625rem;
    margin-bottom: 1.125rem;;
}
.ul-reading h3{
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 5rem;
    color: #263238;
    margin-left: 1.25rem;
}
.ul-reading p{
    width: 18.125rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #8F95A5;
    margin-left: 1.25rem; 
    margin-bottom: 3.125rem;   
}
.ul-reading a{
    text-decoration: none;
    margin-left: 1.25rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #FFFFFF;
    padding:  0.9375rem 3.25rem;
    background: #263238;
    border-radius: 0.3125rem;
    transition: 0.5s;   
}
.ul-reading a:hover{
    background-color: white;
    color: #000000;
}
.ul-listening{
    width: 55.3125rem;
    background: #F5F5F5;
    border-radius: 0.625rem;
    display: flex;
    justify-content: space-between;
    padding: 2.75rem 1.5625rem 2.75rem 3rem;
    top: 31.25rem;
   
}
.ul-listening h3{
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 5rem;
    color: #263238;
}
.ul-listening p{
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #8F95A5;
    margin-bottom: 2.5rem;
}
.ul-listening a{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #FFFFFF;
    padding: 0.9375rem 3.25rem;
    background: #263238;
    border-radius: 0.3125rem;
    text-decoration: none; 
    transition: 0.5s;
}
.ul-listening a:hover{
    background-color: white;
    color: #000000;
}
/* fox-section */
.fox{
    width: 100%;
    display: flex;
    gap: 19.9375rem;
    margin-bottom: 11.75rem;
}
.fox-about h2{
    width: 13.6875rem;
    font-weight: 600;
    font-size: 3rem;
    line-height: 5rem;
    color: #000000;
    margin-bottom: 1.4375rem;
}
.fox-para{
    width: 31.875rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #8F95A5;
    margin-bottom: 3.75rem;   
}
.fox-number{
    display: flex;
    gap: 9.375rem;
}
.fox-number p{
    font-weight: 600;
    font-size: 3rem;
    line-height: 5rem;
    color: #2A3246;
}
.fox-paragrf{
    display: flex;
}
.fox-paragrf p{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #8F95A5;
}
.teacher{
    margin-left: 9.125rem;
}
.forign{
    margin-left: 3.6rem;
}
.Pupils{
    margin-left: 0.9375rem;
}
.box{
    width: 100%;
}
.box h2{
    width: 10.5625rem;
    font-weight: 600;
    font-size: 3rem;
    line-height: 5rem;
    color: #000000;
    margin: auto;
}
.ul-box{
    list-style: none;
    display: flex;
    gap: 6.25rem;
}
.li-box img{
    margin-bottom: 2.5rem;
    margin-left: 1.5625rem;
    margin-top: 3.5625rem;
}
.li-box-h3{
    width: 23.25rem;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 3rem;
    color: #263238;
    margin-bottom: 1.1875rem;
}
.li-sel-paragrf{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    width: 22.5rem;
    color: #8F95A5;
    margin-bottom: 1.8125rem;
}
.spin-div{
    width: 15rem;
    background: #EEEEEE;
    border-radius: 0.3125rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.span-div{
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    color: #263238;
    margin-left: 1.25rem;
}
.span-div2{
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.8125rem;
    color: #263238;
    margin-left: 0.75rem;
}
.month-spin{
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #546269;
}
.li-box2 img{
    margin-top: 5.1875rem;
    margin-bottom: 2.625rem;
}
.paragrf2{
    margin-bottom: 3.6875rem
}
.li-box3 img{
    margin-top: 3.5625rem;
    margin-bottom: 0.6875rem;
    margin-left: 2.5rem;
}
.contact{
    display: flex;
    margin-top: 16.3125rem;
    gap: 8.125rem;
    padding-bottom: 10.3125rem;
}
.div-contact h3{
    font-weight: 600;
    font-size: 3rem;
    line-height: 5rem;
    color: #000000;
    margin-bottom: 2.3125rem;
    margin-top: 2.0625rem;
}
.div-contact p{
    width: 43.75rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #8F95A5;
    margin-bottom: 3.25rem;
}
.contact-input{
    width: 28.125rem;
    border: 0.0625rem solid #8F95A5;
    border-radius: 0.625rem;
    padding: 1.625rem 0rem 1.875rem 2.0625rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #8F95A5;
}
.contact-button{
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #FFFFFF;
    padding: 1.25rem 5.125rem 1.5625rem 5.125rem;
    background: #263238;
    border-radius: 0.625rem;
    transition: 0.5s;
}
.contact-button:hover{
    background-color: #EEEEEE;
    color: #000000;
}
.foot{
    width: 83.625rem;
    background: #C4C4C4;
    margin: auto;
    padding: 0.03125rem 0rem;
    margin-bottom: 1.9375rem;
}
.foot-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.375rem;
}
.foot-div p{
    width: 35.75rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25re;
    color: #8F95A5;
}


